<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>10010</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3306/onlineexam?characterEncoding=utf-8</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>

    <servlet>
        <servlet-name>handleExit</servlet-name>
        <servlet-class>servlet.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleExit</servlet-name>
        <url-pattern>/administrator/handleAdministratorExit</url-pattern>
        <url-pattern>/teacher/handleTeacherExit</url-pattern>
        <url-pattern>/student/handleStudentExit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ModifyPassword</servlet-name>
        <servlet-class>servlet.ModifyPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyPassword</servlet-name>
        <url-pattern>/administrator/ModifyPassword</url-pattern>
        <url-pattern>/teacher/ModifyPassword</url-pattern>
        <url-pattern>/student/ModifyPassword</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>handleChoose</servlet-name>
        <servlet-class>servlet.HandleChoose</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleChoose</servlet-name>
        <url-pattern>/student/handleChoose</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>handleScore</servlet-name>
        <servlet-class>servlet.HandleScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleScore</servlet-name>
        <url-pattern>/student/handleScore</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HandleUploadImage</servlet-name>
        <servlet-class>servlet.HandleUploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleUploadImage</servlet-name>
        <url-pattern>/student/HandleUploadImage</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>handleReleaseQuestions</servlet-name>
        <servlet-class>servlet.HandleReleaseQuestions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleReleaseQuestions</servlet-name>
        <url-pattern>/teacher/handleReleaseQuestions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>handleImportStudents</servlet-name>
        <servlet-class>servlet.HandleImportStudents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleImportStudents</servlet-name>
        <url-pattern>/teacher/handleImportStudents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>handleExportStudentScore</servlet-name>
        <servlet-class>servlet.HandleExportStudentScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handleExportStudentScore</servlet-name>
        <url-pattern>/teacher/handleExportStudentScore</url-pattern>
    </servlet-mapping>
</web-app>