.main{
    height: 862px;
    display: flex;
}
.div_form{
    margin: 0 auto;
    height: 500px;
    display: flex;
}
form{
    margin: auto;
}
table{
    border-spacing: 5px;
}
table tr{
    text-align: center;
}
input{
    height: 25px;
}
.info{
    font-size: 18px;
    font-weight: bold;
}
strong{
    font-style: italic;
}
img{
    position: absolute;
}
tr td span{
    position: relative;
    left: 20px;
}
.radio{
    width: 15px;
    height: 15px;
    margin: 3px 3px 3px 5px;
}
.button{
    color: white;
    background-color: forestgreen;
    border-width: 0px;
    border-radius: 3px;
    margin-right: 15px;
    width: 50px;
    opacity: 0.8;
}
.button:hover{
    cursor: pointer;
    opacity: 1;
}